@use "vars";

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: vars.$propDoDark;
  padding: 0.2em;
  margin-right: 0.1em;
  &__button {
    background-color: vars.$propDoDark !important;

    &__link {
      color: vars.$propDoWhite;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;
      &:hover {
        border-bottom: 1px solid vars.$propDoLight;
      }
    }
  }
}
